
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card-box text-center">

            <h3>Facultad de Educación, Ciencias de la Comunicación y Humanidades - FAEDCOH</h3>
            <h2><strong>Página de Inicio</strong></h2>
            <img src="~/Source/faedcohlogo.jpg" height="350px" width="350px" />
            <ul class="list-group">
                <li class="list-group-item">Escuelas profesionales</li>
                <li class="list-group-item list-group-item-warning">EPE - Escuela Profesional de Educación</li>
                <li class="list-group-item list-group-item-info">EPCC - Escuela Profesional de Ciencias de la Comunicación</li>
                <li class="list-group-item list-group-item-success">EPPSI - Eseucla Profesional de Humanidades</li>
            </ul>
        </div>
    </div>
</div>
