USE [bd_FAEDCOH]
GO
/****** Object:  Table [dbo].[ACTIVIDAD]    Script Date: 11/04/2022 11:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVIDAD](
	[ID_ACTIVIDAD] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](60) NOT NULL,
	[ID_AUTOR] [int] NOT NULL,
	[ID_TIPO_ACTIVIDAD] [int] NOT NULL,
	[ESTADO] [bit] NULL,
	[ID_ENCARGADO] [int] NOT NULL,
	[FECHA_INICIO] [date] NOT NULL,
	[FECHA_FIN] [date] NOT NULL,
 CONSTRAINT [PK__ACTIVIDAD__6D6606937BB58B76] PRIMARY KEY CLUSTERED 
(
	[ID_ACTIVIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ETAPA]    Script Date: 11/04/2022 11:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETAPA](
	[ID_ETAPA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](40) NOT NULL,
	[ID_TIPO_ACTIVIDAD] [int] NOT NULL,
	[ESTADO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ETAPA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_ACTIVIDAD]    Script Date: 11/04/2022 11:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_ACTIVIDAD](
	[ID_TIPO_ACTIVIDAD] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](20) NULL,
	[ESTADO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_ACTIVIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_USUARIO]    Script Date: 11/04/2022 11:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_USUARIO](
	[ID_TIPOUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPOUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 11/04/2022 11:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](60) NOT NULL,
	[APELLIDO] [varchar](60) NOT NULL,
	[FECHA_CREACION] [datetime] NULL,
	[CODIGO] [varchar](15) NULL,
	[TELEFONO] [varchar](15) NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](80) NOT NULL,
	[ID_TIPOUSUARIO] [int] NOT NULL,
	[ESTADO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACTIVIDAD] ON 

INSERT [dbo].[ACTIVIDAD] ([ID_ACTIVIDAD], [NOMBRE], [DESCRIPCION], [ID_AUTOR], [ID_TIPO_ACTIVIDAD], [ESTADO], [ID_ENCARGADO], [FECHA_INICIO], [FECHA_FIN]) VALUES (5, N'Reunión matutina', N'Reunión matutina para hablar sobre los avances', 1, 1, 1, 6, CAST(N'2022-04-07' AS Date), CAST(N'2022-04-30' AS Date))
INSERT [dbo].[ACTIVIDAD] ([ID_ACTIVIDAD], [NOMBRE], [DESCRIPCION], [ID_AUTOR], [ID_TIPO_ACTIVIDAD], [ESTADO], [ID_ENCARGADO], [FECHA_INICIO], [FECHA_FIN]) VALUES (6, N'Subir videos de Tacna', N'Subir videos de Tacna a las redes sociales de la FAEDCOH', 8, 2, 1, 3, CAST(N'2022-04-18' AS Date), CAST(N'2022-04-22' AS Date))
INSERT [dbo].[ACTIVIDAD] ([ID_ACTIVIDAD], [NOMBRE], [DESCRIPCION], [ID_AUTOR], [ID_TIPO_ACTIVIDAD], [ESTADO], [ID_ENCARGADO], [FECHA_INICIO], [FECHA_FIN]) VALUES (7, N'Enviar sílabos a correos', N'Enviar sílabos a correos designados', 5, 2, 1, 3, CAST(N'2022-04-26' AS Date), CAST(N'2022-04-29' AS Date))
SET IDENTITY_INSERT [dbo].[ACTIVIDAD] OFF
GO
SET IDENTITY_INSERT [dbo].[ETAPA] ON 

INSERT [dbo].[ETAPA] ([ID_ETAPA], [NOMBRE], [ID_TIPO_ACTIVIDAD], [ESTADO]) VALUES (1, N'Identificacion', 1, 1)
INSERT [dbo].[ETAPA] ([ID_ETAPA], [NOMBRE], [ID_TIPO_ACTIVIDAD], [ESTADO]) VALUES (2, N'Planificacion', 3, 1)
INSERT [dbo].[ETAPA] ([ID_ETAPA], [NOMBRE], [ID_TIPO_ACTIVIDAD], [ESTADO]) VALUES (3, N'Elaboracion', 2, 1)
SET IDENTITY_INSERT [dbo].[ETAPA] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPO_ACTIVIDAD] ON 

INSERT [dbo].[TIPO_ACTIVIDAD] ([ID_TIPO_ACTIVIDAD], [DESCRIPCION], [ESTADO]) VALUES (1, N'Reunion', 1)
INSERT [dbo].[TIPO_ACTIVIDAD] ([ID_TIPO_ACTIVIDAD], [DESCRIPCION], [ESTADO]) VALUES (2, N'Tarea', 1)
INSERT [dbo].[TIPO_ACTIVIDAD] ([ID_TIPO_ACTIVIDAD], [DESCRIPCION], [ESTADO]) VALUES (3, N'Responsabilidad', 1)
SET IDENTITY_INSERT [dbo].[TIPO_ACTIVIDAD] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPO_USUARIO] ON 

INSERT [dbo].[TIPO_USUARIO] ([ID_TIPOUSUARIO], [DESCRIPCION]) VALUES (1, N'Decano')
INSERT [dbo].[TIPO_USUARIO] ([ID_TIPOUSUARIO], [DESCRIPCION]) VALUES (2, N'Director EPCC')
INSERT [dbo].[TIPO_USUARIO] ([ID_TIPOUSUARIO], [DESCRIPCION]) VALUES (3, N'Director EPE')
SET IDENTITY_INSERT [dbo].[TIPO_USUARIO] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE], [APELLIDO], [FECHA_CREACION], [CODIGO], [TELEFONO], [EMAIL], [PASSWORD], [ID_TIPOUSUARIO], [ESTADO]) VALUES (1, N'Raúl', N'Valdivia Dueñas', CAST(N'2022-04-06T12:00:00.000' AS DateTime), N'2022040604', N'978625515', N'raulvaldivia@upt.pe', N'12345', 1, 1)
INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE], [APELLIDO], [FECHA_CREACION], [CODIGO], [TELEFONO], [EMAIL], [PASSWORD], [ID_TIPOUSUARIO], [ESTADO]) VALUES (2, N'Julio', N'Berne', CAST(N'2022-04-06T06:31:18.000' AS DateTime), N'2022040603', N'951753286', N'julioberne@upt.pe', N'12345', 4, 1)
INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE], [APELLIDO], [FECHA_CREACION], [CODIGO], [TELEFONO], [EMAIL], [PASSWORD], [ID_TIPOUSUARIO], [ESTADO]) VALUES (3, N'Daniel', N'Loja', CAST(N'2022-04-06T09:02:24.000' AS DateTime), N'2017057848', N'952658579', N'danlojama@upt.pe', N'12345', 7, 1)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
ALTER TABLE [dbo].[ACTIVIDAD]  WITH CHECK ADD  CONSTRAINT [fk_ACTIVIDAD_ID_ENCARGADO] FOREIGN KEY([ID_ENCARGADO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[ACTIVIDAD] CHECK CONSTRAINT [fk_ACTIVIDAD_ID_ENCARGADO]
GO
ALTER TABLE [dbo].[ACTIVIDAD]  WITH CHECK ADD  CONSTRAINT [fk_ACTIVIDAD_ID_TIPO_ACTIVIDAD] FOREIGN KEY([ID_TIPO_ACTIVIDAD])
REFERENCES [dbo].[TIPO_ACTIVIDAD] ([ID_TIPO_ACTIVIDAD])
GO
ALTER TABLE [dbo].[ACTIVIDAD] CHECK CONSTRAINT [fk_ACTIVIDAD_ID_TIPO_ACTIVIDAD]
GO
ALTER TABLE [dbo].[ACTIVIDAD]  WITH CHECK ADD  CONSTRAINT [fk_ACTIVIDAD_ID_USUARIO] FOREIGN KEY([ID_AUTOR])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[ACTIVIDAD] CHECK CONSTRAINT [fk_ACTIVIDAD_ID_USUARIO]
GO
ALTER TABLE [dbo].[ETAPA]  WITH CHECK ADD  CONSTRAINT [fk_TIPO_ACTIVIDAD_ID_TIPO_ACTIVIDAD] FOREIGN KEY([ID_TIPO_ACTIVIDAD])
REFERENCES [dbo].[TIPO_ACTIVIDAD] ([ID_TIPO_ACTIVIDAD])
GO
ALTER TABLE [dbo].[ETAPA] CHECK CONSTRAINT [fk_TIPO_ACTIVIDAD_ID_TIPO_ACTIVIDAD]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [fk_USUARIO_IDTIPOUSUARIO] FOREIGN KEY([ID_TIPOUSUARIO])
REFERENCES [dbo].[TIPO_USUARIO] ([ID_TIPOUSUARIO])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [fk_USUARIO_IDTIPOUSUARIO]
GO
